body, html {
  margin: 0;
}

:root {
  --best-blue: rgb(16, 135, 214);
  --svg-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(100%) contrast(104%);
}

@font-face {
  font-family: 'Roboto';
  src: url(assets/fonts/Roboto-Regular.ttf);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  font-family: Roboto;
}

.sidebar {
  background-color: var(--best-blue);
  grid-column: 1 / span 1;
  display: flex;
  padding: 15px;
  flex-direction: column;
  gap: 25px;
  color: white;
  font-weight: 600;
}

.main {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.header {
  background-color: lightgray;
}

.items {
  background-color: lightyellow;
}

.dashboard {
  font-size: 32px;
}

.dash-link {
  font-size: 24px;
}

.dash-link, .dashboard {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  gap: 25px;
  padding: 10px 0px;
}

.sidebar img {
  height: 1em;
  justify-self: center;
  filter: var(--svg-white);
}


